<div class="bg-white">
    <div class=" py-6 sm:px-6">
        <h3 class="text-base font-semibold text-gray-900">Steckbrief</h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Wer? Was? Warum?
        </p>
    </div>
    <div class="border-t border-gray-100">
        <dl class="divide-y divide-gray-100">

            <div class=" py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 group">
                <dt class="text-sm font-medium text-gray-900 flex items-center gap-2 ">
                    Vorname
                    <dsh-icon icon="edit" classes="text-primary" class="invisible group-hover:visible cursor-pointer" />
                </dt>
                <dd class=" text-sm text-gray-700 sm:col-span-2 sm:mt-0">{{ teacher()?.firstName }}</dd>
            </div>

            <div class=" py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 group">
                <dt class="text-sm font-medium text-gray-900 flex items-center gap-2 ">
                    Nachname
                    <dsh-icon icon="edit" classes="text-primary" class="invisible group-hover:visible cursor-pointer" />
                </dt>
                <dd class=" text-sm text-gray-700 sm:col-span-2 sm:mt-0">{{ teacher()?.lastName }}</dd>
            </div>


            <div class=" py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 group">
                <dt class="text-sm font-medium text-gray-900">
                    Dabei seit
                    <dsh-icon-button icon="edit" classes="text-primary" class="invisible group-hover:visible" />
                </dt>
                <dd class="text-sm text-gray-700 sm:col-span-2 sm:mt-0">{{ teacher()?.activeSince | date: 'dd.MM.yyyy' }}</dd>
            </div>

            <div class=" py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 group">
                <dt class="text-sm font-medium text-gray-900">
                    Status
                    <dsh-icon-button icon="edit" classes="text-primary" class="invisible group-hover:visible" />
                </dt>
                <dd class=" text-sm sm:col-span-2 sm:mt-0" [class]="teacher()?.active ? 'text-green-600' : 'text-red-600'">
                    {{ teacher()?.active ? 'Aktiv' : 'Inaktiv' }}
                </dd>
            </div>

            <div class=" py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-900">Instrumente</dt>
                <dd class="text-sm text-gray-700 sm:col-span-2 sm:mt-0 gap-1 flex flex-wrap items-center">
                    @if (teacher()?.instruments && teacher()?.instruments!.length > 0) {

                    @for (instrument of teacher()?.instruments; track instrument.id) {
                    <dsh-chip [label]="instrument.name!" />
                    }

                    } @else {
                    <span class="text-gray-400">Keine Instrumente</span>
                    }
                    <dsh-icon-button (clickEvent)="openDialog()" classes="ml-2 p-1 bg-primary text-white rounded-full hover:opacity-75" />
                </dd>
            </div>


        </dl>
    </div>
</div>

@if(showDialog())
{
<dsh-teacher-add-instrument-dialog [activeInstruments]="teacher()?.instruments ?? []" (closeEvent)="showDialog.set(false)" />
}