<div class="relative">
<!--  <label for="name" class="absolute -top-2 left-2 inline-block px-1 text-xs font-medium text-text">-->
<!--    {{ label() }}-->
<!--  </label>-->
  <input
    type="text"
    [value]="value()"
    (input)="value.set($event.target!.value)"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [class.invalid]="invalid()"
    [attr.aria-invalid]="invalid()"
    (blur)="touched.set(true)"
    [placeholder]="placeholder()"
    class="block w-full px-3 py-1.5 text-base text-text
    placeholder:text-text-densed
    outline-1 -outline-offset-1 outline-white
    focus:outline-2 focus:-outline-offset-2 focus:outline-primary
    focus:ring-0
    sm:text-sm/6" />


  @if (touched() && errors().length > 0) {
    <div class="mt-1 text-sm text-red-400" role="alert">
      @for (error of errors(); track $index) {
        <div>{{ error.message }}</div>
      }
    </div>

    @if (disabled()) {
<!--      <div class="mt-1 text-sm text-yellow-400" role="alert">-->
<!--        @for (reason of disabledReasons(); track $index) {-->
<!--          <div>{{ reason.message }}</div>-->
<!--        }-->
<!--      </div>-->
    }
  }

</div>
